* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin-ext");
.back {
  position: absolute;
  top: 1%;
  left: 1%;
  text-decoration: none;
  font-size: 20px;
  font-family: "roboto";
  color: white;
  margin-top: 8px;
}

body {
  background-color: #000000;
  color: lightgray;
  font-size: 18px;
}

.wrap {
  width: 800px;
  height: 70vh;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
}

.word {
  text-align: center;
  height: 30%;
  flex-basis: 100%;
  color: white;
  font-size: 40px;
  word-spacing: 20px;
}

.gallows {
  position: relative;
  height: 300px;
  flex-basis: 55%;
  overflow: hidden;
}

.alphabet {
  height: 300px;
  flex-basis: 45%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.letter {
  font-size: 20px;
  text-align: center;
  color: #000000;
  width: 40px;
  height: 40px;
  line-height: 35px;
  border: 2px solid white;
  border-radius: 35%;
  color: white;
  margin: 5px;
  cursor: pointer;
}
.letter:hover {
  border-color: aqua;
  color: aqua;
}

.letter.correct {
  cursor: default;
  background: rgb(0, 51, 0);
  color: rgb(0, 192, 0);
  border: 3px solid rgb(0, 192, 0);
}
.letter.incorrect {
  cursor: default;
  background: rgb(51, 0, 0);
  color: rgb(192, 0, 0);
  border: 3px solid rgb(192, 0, 0);
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 450px;
  text-align: center;
  min-height: 280px;
  /* overflow: hidden; */
}

.letter.correct {
  cursor: default;
  background: rgb(0, 51, 0);
  color: rgb(0, 192, 0);
  border: 3px solid rgb(0, 192, 0);
}
.letter.incorrect {
  cursor: default;
  background: rgb(51, 0, 0);
  color: rgb(192, 0, 0);
  border: 3px solid rgb(192, 0, 0);
}

.reset {
  font-size: 50px;
  cursor: pointer;
  color: royalblue;
}
.reset:hover {
  color: white;
}

.lose {
  color: brown;
  font-size: 48px;
}
.win {
  color: green;
  font-size: 48px;
}

/* button */
.after {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  display: none;
  margin: 10px 10px;
  font-size: 40px;
  padding: 10px 30px;
  color: white;
  border: 3px solid white;
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.after::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 100%;
  background-color: brown;
  top: 50%;
  right: -100%;
  transform: translateY(-50%);
  transition: 0.5s right, 0.5s height 0.5s;
  z-index: -1;
}
.after:hover::after {
  right: 0;
  height: 100%;
}

.after.active {
  display: inline-block;
}
